<app-navbar></app-navbar>
<div class="container text-sm-center text-lg-start text-md-start  ">
    <div class="listing-page  mt-3">
        <div class="" nz-row>
            <div class="" nz-col nzMd="24" nzLg="16" nzXl="16">
                <!-- listing heading -->
                <div class="result-yoga d-flex justify-content-between">
                    <div class="heading d-flex align-items-center">
                        <h4 class="fw-bolder">YOGA Classes in Ejipura-</h4>
                        <p class="fw-bold text-black-50 mt-3"> 24 Result</p>
                    </div>
                    <button class="btn btn border-1"> <span class="text-black-50">Stored by :</span>
                        Distance</button>
                </div>
                <!-- listing heading -->

                <div class="listing-body border-top row pt-3">

                    <div class="col-lg-4  collapse d-lg-block" id="collapseExample">
                        <!-- filter check box -->
                        <div class="d-flex align-items-center">
                            <span class=" d-lg-none border p-2 fs-2 text-black" nz-icon nzType="unordered-list"
                                nzTheme="outline" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample"></span>

                            <h5 class="fw-bold">Filter</h5>
                        </div>
                        <app-filters></app-filters>
                        <!-- filter check box -->

                    </div>


                    <div class="col-lg-8 border-left ps-3 pt-3 offers ">
                        <!-- offers -->
                      <app-offers></app-offers>
                        <!-- offers -->
                    </div>

                </div>
            </div>
            <div class="px-3" nz-col nzMd="24" nzLg="8" nzXl="8">
                <!-- map -->
                <div id="map-container-google-1" class="z-depth-1-half map-container position-relative mb-3"
                    style="height:250px; width: 100%;">
                    <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0; width: 100%; height: 100%;" allowfullscreen></iframe>
                    <div
                        class=" text-center text-white  align-items-center bg-primary-subtle position-absolute bottom-0 w-100 p-2">
                        <p>veiw search result</p>
                    </div>
                </div>
                <!-- map -->

                <!-- features -->
                <div class="feature-border p-2">
                    <div class=" heading ">
                        <p class="text-black-50 fw-bold"> SPONSERED & FEATURES</p>
                        <h5 class="fw-bolder">You may like also</h5>
                    </div>
                    <div class="d-flex flex-wrap justify-content-evenly">
                        <!-- feature 1 -->
                        <div class="card border-0 rounded-0  mb-5 position-relative" style="width:6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 10075 " alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>

                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button position-absolute top-0">4.2</button>

                        </div>
                        <!-- feature 1 -->

                        <!-- feature 2 -->
                        <div class="card border-0 rounded-0  mb-5 position-relative" style="width: 6.5rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w1005" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 2 -->

                        <!-- feature 3 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 3 -->

                        <!-- feature 4 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 4 -->

                        <!-- feature 5 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 5 -->

                        <!-- feature 6 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button1 position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 6 -->

                        <!-- feature 7 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button1 position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 7 -->

                        <!-- feature 8 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button1 position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 8 -->

                        <!-- feature 9 -->
                        <div class="card border-0 rounded-0 mb-5 position-relative" style="width: 6.3rem;">
                            <img src="../../../assets/image/yoga.jpg" class="card-img-top rounded-0 w-100" alt="...">
                            <div class="card-body feature-card fs-6 text-start p-0">
                                <h5 class="card-title">Yoga Life</h5>
                                <p class="text-black-50">M.G Road</p>
                                <a href="#" class="">Yoga | Meditation | praynam</a>
                            </div>
                            <button
                                class="btn btn-bd-primary p-0 px-2 border-0 rounded-0 feature-rated-button position-absolute top-0">4.2</button>
                        </div>
                        <!-- feature 9 -->

                    </div>
                </div>
                <!-- features -->

            </div>
        </div>
    </div>
</div>


<app-footer></app-footer> 