
    <!-- filter and checkbox -->
    <div class="filterandcheckbox ">

        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Offer Available
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Free Trail Available
            </label>
        </div>
    </div>
    <!-- filter and checkbox -->

    <!-- fitness option and checkbox -->
    <div class="fitnessoptionandcheckbox">
        <h5 class="fw-bold">Fitness Optioin</h5>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                All
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Yoga Class
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Zumba Class
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Aerobic
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Gym
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Matiral Art
            </label>
        </div>
        <div class="text-center more-option">
            <a href="#"> +6 more</a>
        </div>
    </div>
    <!-- fitness option and checkbox -->

    <!-- Type of Yoga and checkbox -->
    <div class="TypeofYogaandcheckbox">
        <h5 class="fw-bold">Type of Yoga</h5>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Arial Yoga
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Power Yoga
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Hot Yoga
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Vinyasa Yoga
            </label>
        </div>
    </div>
    <!-- Type of Yoga and checkbox -->

    <!-- Area prefrence and checkbox -->
    <div class="Areaprefrenceandcheckbox">
        <h5 class="fw-bold">Area Prefernce</h5>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Ejipura
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                HSR layout
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                M.G Road
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Church Street
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Electronic City
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                Banashankari
            </label>
        </div>
        <div class="text-center more-option">
            <a href="#"> +167 more</a>
        </div>
    </div>
    <!-- Area prefrence and checkbox -->

    <!-- Distance Radius and checkbox -->
    <div class="DistanceRadiusandcheckbox ">
        <h5 class="fw-bold">Distance Radius</h5>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                0-2 kms
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                2-5 kms
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                5-10 kms
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                10 kms & above
            </label>
        </div>
    </div>
    <!-- Distance Radius and checkbox -->

    <!-- Budget and checkbox -->
    <div class="Budgetandcheckbox ">
        <h5 class="fw-bold">Budget</h5>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                &100 - &1000
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                &1000 - &2500
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                &2500 - &5000
            </label>
        </div>
        <div class="form-check d-flex align-items-center">
            <input class="form-check-input border-1 fs-5" type="checkbox" value=""
                id="flexCheckChecked">
            &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
                &5000 & above
            </label>
        </div>

    </div>
                        <!-- Budget and checkbox -->
                        
 <!-- Amenities and checkbox-->
 <div class="Amenities ">
    <h5 class="fw-bold">Budget</h5>
    <div class="form-check d-flex align-items-center">
        <input class="form-check-input border-1 fs-5" type="checkbox" value=""
            id="flexCheckChecked">
        &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
            Changing Room
        </label>
    </div>
    <div class="form-check d-flex align-items-center">
        <input class="form-check-input border-1 fs-5" type="checkbox" value=""
            id="flexCheckChecked">
        &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
            Lokers
        </label>
    </div>
    <div class="form-check d-flex align-items-center">
        <input class="form-check-input border-1 fs-5" type="checkbox" value=""
            id="flexCheckChecked">
        &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
            Parking
        </label>
    </div>
    <div class="form-check d-flex align-items-center">
        <input class="form-check-input border-1 fs-5" type="checkbox" value=""
            id="flexCheckChecked">
        &nbsp; &nbsp; <label class="form-check-label" for="flexCheckChecked">
            Juice Counter
        </label>
    </div>
    <div class="text-center more-option">
        <a href="#"> +12 more</a>
    </div>
</div>
<!-- Amenities and checkbox-->