<div class=" bg-black">
    <nav class="navbar navbar-expand-lg container  ">
        <div class="pt-3 container">
            <!-- burgur button -->

            <!--  burgur button -->

            <div class="d-flex">
                <div class="w-25">
                    <a class="navbar-brand" href="#"><img src="./imgs/logo.png" class="img-fluid" alt=""></a>
                </div>
                <!-- drop Down -->
                <!-- <div class="dropdown">
                    <button class="btn dropdown-toggle text-white fs-5" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Banglore
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">India</a></li>
                        <li><a class="dropdown-item" href="#">Pakistan</a></li>
                        <li><a class="dropdown-item" href="#">Srilanka</a></li>
                    </ul>
                </div> -->
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!-- drop Down -->

        <div class="collapse navbar-collapse text-uppercase  " id="navbarSupportedContent">
            <a class="navbar-brand  text-white " href="#">| &nbsp; Get a Personal Trainer&nbsp; | &nbsp; Offers
                &nbsp; | &nbsp; Sign In</a>
        </div>
    </nav>
</div>
